{% extends "base.html" %}
{% block title %}
ethicOS App Portal - About
{% endblock %}
{% block content %}

<div class="container">
    <h2>Contributors</h2>    
    <h5>Professors</h5>
    <a href="https://w3.cs.jmu.edu/kirkpams/">Michael Kirkpatrick, Associate Professor, James Madison University</a>
    <br>
    <a href="https://hcientist.cs.jmu.edu/">Michael Stewart, Assistant Professor, James Madison University</a>
    <h5>Students</h5>
    <a href="https://www.linkedin.com/in/reece-adkins-34b448192/">Reece Adkins</a>
</div>

{% endblock %}