{% extends "base.html" %}
{% block title %}
ethicOS App Portal
{% endblock %}
{% block content %}

<div class="landing">

    <p class="h1 text-primary mt-3 mb-3">ethicOS App Portal - Home</p>

    <div class="row mb-3 border-bottom border-primary">
        <div class="col-md-10 mb-3">
            <p class="h4 text-dark">Now Recruiting App Voters</p>
            <p class="text-muted mb-3">ethicTec is developing a new smartphone operating system, ethicOS, 
                that prides itself on being a completely ethical mobile operating system. Our 
                ethical guidelines direct us in creating software that is trustworthy for our users.
            </p>
            <p class="text-muted mb-3">As developers submit mobile applications for our app store, we must ensure that
                they are ethical. All apps on the ethicOS App Store must adhere to ethicTec's ethical guidelines.
            </p>
            <p class="text-muted mb-3">We want your feedback. We implore you to participate in our public app review program. Using our
                provided guidelines, decide whether or not applications are ethical enough for posting on the
                ethicOS app store.
            </p>
        </div>

        <div class="col-md mb-3 border-left">
            <p class="h5 text-right text-primary">Built by JMU CS</p>
            <a href="https://www.jmu.edu/cise/cs/" class="btn btn-secondary float-right mb-1">JMU CS Home</a>
            <a href="https://twitter.com/cs_jmu" class="btn btn-secondary float-right mb-1">Twitter</a>
            <a href="https://www.instagram.com/jmucs/" class="btn btn-secondary float-right mb-1">Instagram</a>
        </div>

    </div>
</div>

{% endblock %}