{% extends "base.html" %}
{% block title %}
ethicOS App Portal - Review
{% endblock %}
{% block content %}

<div class="container">
    <!-- <div class="row"></div> -->

    <div class="app-review">
        <div class="row">
            <div class="col-md-9">
                <!-- <h1>EthicOS App Portal</h1> -->
                <!-- <h2>App Review</h2> -->
                <img src="{{url_for('static', filename=app_review.icon)}}" class="app-icon float-sm-left"
                    alt=" App Icon">
                <h1 class="app-title">{{app_review.title}}</h1>
                <h2 class="app-slogan">{{app_review.slogan}}</h2>
                <p class="app-description">{{app_review.description}}</p>

            </div>
            <div class="col-md">
                <div class="d-flex flex-column justify-content-around align-items-stretch review-actions">
                    <a href="/review/app/{{app_review.next}}" class="btn btn-lg btn-success">Approve</a>
                    <a href="/review/app/{{app_review.next}}" class="btn btn-lg btn-danger">Reject</a>
                    <!-- <div class="p-2">
                    </div>
                    <div class="p-2">
                    </div> -->
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<!-- </div> -->
{% endblock %}