{% extends "base.html" %}
{% block title %}
ethicOS App Portal - Review
{% endblock %}
{% block content %}

<div class="container-fluid">

    <div class="progress mt-4 mb-4">

        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>

    <div class="app-review">

        <div class="row border-bottom border-primary">

            <div class="col-md-3 mb-5">
                <p class="h3 text-primary">App Preview</p>
                <img src="{{url_for('static', filename=app_review.preview_url)}}" class="app-preview"
                    alt=" App Preview">
            </div>

            <div class="col-md-5 border-right border-left border-primary">
                <p class="h3 text-primary">App Description</p>
                <img src="{{url_for('static', filename=app_review.icon_url)}}" class="app-icon float-sm-left"
                    alt=" App Icon">
                <h3 class="app-title">{{app_review.title}}</h3>
                <h4 class="app-slogan text-muted">{{app_review.slogan}}</h4>
                <p class="app-description mt-3">{{app_review.description}}</p>
            </div>

            <div class="col-md border-primary guidelines">
                <p class="h3 text-primary">Ethical Guidelines</p>
                {% include "guidelines.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3 text-center">
                <br>
                <form>
                    <div class="form-group">
                        <label for="review-explanation">Why is this ethical or unethical?</label>
                        <textarea name="explanation" id="review-explanation" rows="10"
                            aria-describedby="emailHelp" class="form-control"></textarea>
                        <small id="emailHelp" class="form-text text-muted">This is your chance to give us more context
                            on your decision.</small>
                    </div>
                    <div class="form-group">
                        <div class="form-check d-none">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Default radio
                            </label>
                        </div>
                        <div class="form-check d-none">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Second default radio
                            </label>
                        </div>
                        <button type="submit" name="approve" class="btn btn-success">Approve <i
                                class="fas fa-thumbs-up"></i></button>
                        <button type="submit" name="reject" class="btn btn-danger">Reject<i
                                class="fas fa-thumbs-down"></i></button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

{% endblock %}